# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.BattleCPP.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Admin\Documents\Unreal Projects\BattleCPP\.idea\.idea.BattleCPP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
